
<head>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <meta charset="utf-8"><script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="/src/date.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="/src/search.js"></script>
  <script src="/src/favorite.js"></script>
</head>

<body>
  <div class="container-fluid">
    <div class="form-group col-lg-12">
          <img src= "<%= @venue.pictures.map(&:path).join(',')  %>" height="200" width="200" align="center"> </img>
        </div>
        </div>
        <div class="form-group col-lg-12">
            <span> <b>Title:</b> <%= @venue.title %></span>
          </div>
        <div class="form-group col-lg-12">
            <span><b>Address:</b> <%= @venue.address   %></span>
          </div>
        <div class="form-group col-lg-12">
            <span><b>City:</b> <%= @venue.city   %></span>
          </div>
        <div class="form-group col-lg-12">
          <div class="row">
            <span><b>Price:</b> <%= @venue.price   %></span>
          </div>
        </div>
        <div class="form-group col-lg-12">
          <div class="row">
            <span><b>Description:</b> <%= @venue.description   %></span>
          </div>
      </div>

      <% if @name %>
      <form action="/view/<%= @venue.title%>" method = "post">
        <p>Start Date: <input id="startDate" type="text" name="startDate"></p>
        <br>
        <p>End Date: <input id="endDate" type="text" name="endDate"></p>
        <br>
        <div class = 'both-buttons'>
          <div class = 'book-button'>
            <button class='buttons' id="book" >Book</button>
          </div>
        </form>
      <% else %>
          <div class = 'info-text'>
            <a href='/'>Sign in</a> or <a href='/sign_up'>sign up</a> to book or add to favorites
          </div>
      <%end%>
  </body>
</html>
